body {
  background:linear-gradient(to top right, #A955D0, #E09ED3);;
  color:black;
  font-family: 'Hanalei Fill', cursive;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  margin-bottom: 30px;
}

a {
  text-decoration: underline;
  color: green;
  margin-bottom: 30px;
  font-size: 20px;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: DeepPink;
  font-size: 25px;
}
h1{  
  font-size: 50px;
  font-weight: bolder;
  padding: 10px;
  text-shadow: -1px -1px 0px #101010, 1px 1px 0px #505050;
}

h1:hover{
  color:#F7DFF2;
  text-shadow: 0px 0px 15px #F0B5E4;
}

textarea, input{
  width: 100%;
  border-radius: 0px;
  border: 1px solid DeepPink;
  margin-bottom: 20px;
}

.posteo {
  color: DeepPink;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid DeepPink;
}
/* PARA CORAZON */
.corazon {
  font-size: 40px;
  color: gray;
  text-align: center;
}
.rojo {
  color: red;
}
footer{
  padding: 10px;
}



/* Estilos comentarios */

